.tile {
    fill: white;
    stroke: black;
    stroke-width: 1;
}

.tileText {
    fill: lightgrey;
    text-anchor: middle;
    dominant-baseline: central;
    stroke-width: 0;
}

.polygonImage {
}

.polygonShape {
}

.tile:hover .tileText {
    fill: white;
    stroke: lightgrey;
    stroke-width: .5;
}

.tile:hover .polygonImage {
    filter: url(#hover);
}

/*** TEAM CSS ***/

.red {
    fill: red;
}

.redImage {
    filter: url(#red);
}

.green {
    fill: green;
}

.greenImage {
    filter: url(#green);
}

.blue {
    fill: blue;
}

.blueImage {
    filter: url(#blue);
}

.purple {
    fill: purple;
}

.purpleImage {
    filter: url(#purple);
}

.orange {
    fill: orange;
}

.orangeImage {
    filter: url(#orange);
}

.gray {
    fill: gray;
}

.grayImage {
    filter: url(#gray);
}

/* .gold {
    fill: gold;
}

.goldImage {
    filter: url(#gold);
} */
